body {
    background-image: url("/static/images/leo-money.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed
}

body > header > nav > ul {
    display: flex;
    background-color: rgb(168, 218, 220)
}

body > h3 {
    display: inline-block;
}

.container {
    align-content: center;
    display: inline-block;
    padding: 0.5em 0.5em 0.5em 0.5em;
    background-color:rgb(168, 218, 220)
}

.container > section > ul > li {
    display: inline-block;
    padding: 0.5em 0.5em 0.5em 0.5em;
    background-color:rgb(241, 250, 238)
}

/* h1 {
    text-align: center;
    background-color:rgb(29, 53, 87);
    color: rgb(230, 57, 70)
}

ul {
    background-color:rgb(29, 53, 87);
    color:rgb(241, 250, 238);
    list-style-type: square
}

a:link{
    color:rgb(244, 140, 6)
}

a:visited {
    color:rgb(106, 4, 15)
}

.container {
    display: grid;
    text-align: center;
    background-color:rgb(29, 53, 87);
    color:rgb(168, 218, 220);
}
 */
