body {
    background-image: url("/static/images/leo-money.jpg");
    background-size: cover;
    background-repeat: no-repeat
}

/* 

h1 {
    text-align: center;
    background-color:rgb(29, 53, 87);
    color: rgb(230, 57, 70)
}

ul {
    background-color:rgb(29, 53, 87);
    color:rgb(241, 250, 238);
    list-style-type: square
}

a:link{
    color:rgb(244, 140, 6)
}

a:visited {
    color:rgb(106, 4, 15)
}

.container {
    display: grid;
    text-align: center;
    background-color:rgb(29, 53, 87);
    color:rgb(168, 218, 220);
}

.container > h2 {
    color:rgb(241, 250, 238)
} */