body > header > h1 {
    background-color: rgb(249, 236, 228);
    color:rgb(101, 91, 100);
    display: inline-block;
    padding: 0.5em 0.5em 0.5em 0.5em;
    border-radius: 10px
}

body {
    background-image: url("/static/images/leo-money.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed
}

body > header > nav > ul {
    display: inline-block;
    padding: 1em 1em 1em 1em;
    list-style: none;
    background-color: rgb(150, 136, 123);
    color: rgb(247, 235, 213);
    border-radius: 10px
}

body > h3 {
    display: inline-block;
    padding: 1em 1em 1em 1em
}

.container {
    align-content: center;
    display: inline-block;
    padding: 0.1em 1.5em 0.1em 1.5em;
    background-color:rgb(247, 235, 213);
    color:rgb(150, 136, 123);
    border-radius: 10px
}

.container > section > ul > li {
    display: inline-block;
}

a:link {
    color:rgb(30, 245, 10)
}

a:visited {
    color:rgb(101, 91, 100)
}