{% extends "base.html" %}
{% block content %}

<h2>Add New Transaction</h2>

<form action="/transactions" method="POST">
    <div>
        <label for="amount">Price: £
            <input type="number" required name="amount" min="0" value="0" step=".01">
        </label>
    </div>
    <div>
        <label for="merchant">Recipient:</label>
        <select name="merchant_id" id="merchant">
            {% for merchant in merchants %}
            <option value="{{ merchant.id }}">
                {{ merchant.name }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="tag">Tag:</label>
        <select name="tag_id" id="tag">
            {% for tag in tags %}
            <option value="{{ tag.id }}">
                {{ tag.category }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div>
        <input type="submit">
    </div>
</form>

{% endblock %}